# libraries and imports

library to scrape sec edgar website
https://github.com/coyo8/sec-edgar

In [8]:
import pandas as pd
import regex as re
import datetime
import os 
import numpy as np

In [9]:
# import libraries and modules
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer, HashingVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score, GridSearchCV 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn import svm
from sklearn.svm import SVC
from sklearn.naive_bayes import BernoulliNB

In [12]:
path=os.getcwd()

for root, dirs, files in os.walk(path):
    #root 
    text_files = [file for file in files if '.txt' in file]
    break

In [13]:
len(text_files)

100

In [14]:
filings = []
for file in text_files:
    with open(file,"r") as text_file:
        text = text_file.read()
        filings.append(text)

In [15]:
filings[0]

'<SEC-DOCUMENT>0001193125-13-216952.txt : 20130513\n<SEC-HEADER>0001193125-13-216952.hdr.sgml : 20130513\n<ACCEPTANCE-DATETIME>20130513170213\nACCESSION NUMBER:\t\t0001193125-13-216952\nCONFORMED SUBMISSION TYPE:\t8-K\nPUBLIC DOCUMENT COUNT:\t\t1\nCONFORMED PERIOD OF REPORT:\t20130508\nITEM INFORMATION:\t\tDeparture of Directors or Certain Officers; Election of Directors; Appointment of Certain Officers: Compensatory Arrangements of Certain Officers\nFILED AS OF DATE:\t\t20130513\nDATE AS OF CHANGE:\t\t20130513\n\nFILER:\n\n\tCOMPANY DATA:\t\n\t\tCOMPANY CONFORMED NAME:\t\t\tMICROSOFT CORP\n\t\tCENTRAL INDEX KEY:\t\t\t0000789019\n\t\tSTANDARD INDUSTRIAL CLASSIFICATION:\tSERVICES-PREPACKAGED SOFTWARE [7372]\n\t\tIRS NUMBER:\t\t\t\t911144442\n\t\tSTATE OF INCORPORATION:\t\t\tWA\n\t\tFISCAL YEAR END:\t\t\t0630\n\n\tFILING VALUES:\n\t\tFORM TYPE:\t\t8-K\n\t\tSEC ACT:\t\t1934 Act\n\t\tSEC FILE NUMBER:\t000-14278\n\t\tFILM NUMBER:\t\t13838169\n\n\tBUSINESS ADDRESS:\t\n\t\tSTREET 1:\t\tONE MICROSOFT WAY\n\t\tCITY:\t\t\tREDMOND\n\t\tSTATE:\t\t\tWA\n\t\tZIP:\t\t\t98052-6399\n\t\tBUSINESS PHONE:\t\t425-882-8080\n\n\tMAIL ADDRESS:\t\n\t\tSTREET 1:\t\tONE MICROSOFT WAY\n\t\tCITY:\t\t\tREDMOND\n\t\tSTATE:\t\t\tWA\n\t\tZIP:\t\t\t98052-6399\n</SEC-HEADER>\n<DOCUMENT>\n<TYPE>8-K\n<SEQUENCE>1\n<FILENAME>d536396d8k.htm\n<DESCRIPTION>FORM 8-K\n<TEXT>\n<HTML><HEAD>\n<TITLE>Form 8-K</TITLE>\n</HEAD>\n <BODY BGCOLOR="WHITE">\n\n <P STYLE="line-height:0px;margin-top:0px;margin-bottom:0px;border-bottom:0.5pt solid #000000">&nbsp;</P>\n<P STYLE="line-height:3px;margin-top:0px;margin-bottom:2px;border-bottom:0.5pt solid #000000">&nbsp;</P> <P STYLE="margin-top:4px;margin-bottom:0px" ALIGN="center"><FONT STYLE="font-family:ARIAL" SIZE="5"><B>UNITED STATES </B></FONT></P>\n<P STYLE="margin-top:0px;margin-bottom:0px" ALIGN="center"><FONT STYLE="font-family:ARIAL" SIZE="5"><B>SECURITIES AND EXCHANGE COMMISSION </B></FONT></P> <P STYLE="margin-top:0px;margin-bottom:0px" ALIGN="center"><FONT\nSTYLE="font-family:ARIAL" SIZE="3"><B>WASHINGTON, DC 20549 </B></FONT></P> <P STYLE="font-size:12px;margin-top:0px;margin-bottom:0px">&nbsp;</P><center>\n<P STYLE="line-height:6px;margin-top:0px;margin-bottom:2px;border-bottom:1pt solid #000000;width:21%">&nbsp;</P></center> <P STYLE="margin-top:12px;margin-bottom:0px" ALIGN="center"><FONT STYLE="font-family:ARIAL" SIZE="5"><B>FORM 8-K\n</B></FONT></P> <P STYLE="font-size:12px;margin-top:0px;margin-bottom:0px">&nbsp;</P><center> <P STYLE="line-height:6px;margin-top:0px;margin-bottom:2px;border-bottom:1pt solid #000000;width:21%">&nbsp;</P></center>\n<P STYLE="margin-top:12px;margin-bottom:0px" ALIGN="center"><FONT STYLE="font-family:ARIAL" SIZE="3"><B>CURRENT REPORT </B></FONT></P> <P STYLE="margin-top:0px;margin-bottom:0px" ALIGN="center"><FONT STYLE="font-family:ARIAL" SIZE="3"><B>PURSUANT TO\nSECTION 13 OR 15(D) </B></FONT></P> <P STYLE="margin-top:0px;margin-bottom:0px" ALIGN="center"><FONT STYLE="font-family:ARIAL" SIZE="3"><B>OF THE SECURITIES EXCHANGE ACT OF 1934 </B></FONT></P>\n<P STYLE="margin-top:12px;margin-bottom:0px" ALIGN="center"><FONT STYLE="font-family:ARIAL" SIZE="3"><B>Date of report (Date of earliest event reported) May&nbsp;8, 2013 </B></FONT></P>\n<P STYLE="font-size:12px;margin-top:0px;margin-bottom:0px">&nbsp;</P><center> <P STYLE="line-height:6px;margin-top:0px;margin-bottom:2px;border-bottom:1pt solid #000000;width:21%">&nbsp;</P></center>\n<P STYLE="margin-top:12px;margin-bottom:0px" ALIGN="center"><FONT STYLE="font-family:ARIAL" SIZE="6"><B>Microsoft Corporation </B></FONT></P>\n<P STYLE="margin-top:0px;margin-bottom:0px" ALIGN="center"><FONT STYLE="font-family:ARIAL" SIZE="2"><B>(Exact Name of Registrant as Specified in Its Charter) </B></FONT></P>\n<P STYLE="font-size:12px;margin-top:0px;margin-bottom:0px">&nbsp;</P><center> <P STYLE="line-height:6px;margin-top:0px;margin-bottom:2px;border-bottom:1pt solid #000000;width:21%">&nbsp;</P></center>\n<P STYLE="margin-top:12px;margin-bottom:0px" ALIGN="center"><FONT STYLE="font-family:ARIAL" SIZE="2"><B>Washington </B></FONT></P> <P STYLE="margin-top:0px;margin-bottom:0px" ALIGN="center"><FONT STYLE="font-family:ARIAL" SIZE="1"><B>(State or Other\nJurisdiction of Incorporation) </B></FONT></P> <P STYLE="font-size:12px;margin-top:0px;margin-bottom:0px">&nbsp;</P>\n<TABLE CELLSPACING="0" CELLPADDING="0" WIDTH="100%" BORDER="0" STYLE="BORDER-COLLAPSE:COLLAPSE" ALIGN="center">\n\n\n<TR>\n<TD WIDTH="50%"></TD>\n<TD VALIGN="bottom" WIDTH="1%"></TD>\n<TD WIDTH="48%"></TD></TR>\n\n\n<TR>\n<TD VALIGN="top" ALIGN="center"><FONT STYLE="font-family:ARIAL" SIZE="2"><B>0-14278</B></FONT></TD>\n<TD VALIGN="bottom"><FONT SIZE="1">&nbsp;</FONT></TD>\n<TD VALIGN="top" ALIGN="center"><FONT STYLE="font-family:ARIAL" SIZE="2"><B>91-1144442</B></FONT></TD></TR>\n<TR>\n<TD VALIGN="top" ALIGN="center"><FONT STYLE="font-family:ARIAL" SIZE="1"><B>(Commission File Number)</B></FONT></TD>\n<TD VALIGN="bottom"><FONT SIZE="1">&nbsp;</FONT></TD>\n<TD VALIGN="top" ALIGN="center"><FONT STYLE="font-family:ARIAL" SIZE="1"><B>(IRS Employer&nbsp;Identification No.)</B></FONT></TD></TR>\n<TR>\n<TD HEIGHT="16"></TD>\n<TD HEIGHT="16" COLSPAN="2"></TD></TR>\n<TR>\n<TD VALIGN="top" ALIGN="center"><FONT STYLE="font-family:ARIAL" SIZE="2"><B>One Microsoft Way, Redmond, Washington</B></FONT></TD>\n<TD VALIGN="bottom"><FONT SIZE="1">&nbsp;</FONT></TD>\n<TD VALIGN="top" ALIGN="center"><FONT STYLE="font-family:ARIAL" SIZE="2"><B>98052-6399</B></FONT></TD></TR>\n<TR>\n<TD VALIGN="top" ALIGN="center"><FONT STYLE="font-family:ARIAL" SIZE="1"><B>(Address of Principal Executive Offices)</B></FONT></TD>\n<TD VALIGN="bottom"><FONT SIZE="1">&nbsp;</FONT></TD>\n<TD VALIGN="top" ALIGN="center"><FONT STYLE="font-family:ARIAL" SIZE="1"><B>(Zip Code)</B></FONT></TD></TR>\n</TABLE> <P STYLE="margin-top:12px;margin-bottom:0px" ALIGN="center"><FONT STYLE="font-family:ARIAL" SIZE="2"><B>(425) 882-8080 </B></FONT></P> <P STYLE="margin-top:0px;margin-bottom:0px" ALIGN="center"><FONT\nSTYLE="font-family:ARIAL" SIZE="1"><B>(Registrant&#146;s Telephone Number, Including Area Code) </B></FONT></P> <P STYLE="margin-top:18px;margin-bottom:0px" ALIGN="center"><FONT STYLE="font-family:ARIAL" SIZE="1"><B>(Former Name or Former Address,\nif Changed Since Last Report) </B></FONT></P> <P STYLE="font-size:12px;margin-top:0px;margin-bottom:0px">&nbsp;</P><center> <P STYLE="line-height:6px;margin-top:0px;margin-bottom:2px;border-bottom:1pt solid #000000;width:21%">&nbsp;</P></center>\n<P STYLE="margin-top:12px;margin-bottom:0px"><FONT STYLE="font-family:ARIAL" SIZE="2">Check the appropriate box below if the Form 8-K filing is intended to simultaneously satisfy the filing obligation of the registrant under any of the following\nprovisions (<I>see </I>General Instruction A.2. below): </FONT></P> <P STYLE="font-size:6px;margin-top:0px;margin-bottom:0px">&nbsp;</P>\n<TABLE STYLE="BORDER-COLLAPSE:COLLAPSE" BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">\n<TR>\n<TD WIDTH="4%" VALIGN="top" ALIGN="left"><FONT STYLE="font-family:ARIAL" SIZE="2"><FONT STYLE="font-family:Times New Roman" SIZE="2"><FONT STYLE="FONT-FAMILY:WINGDINGS">&#168;</FONT></FONT><FONT STYLE="font-family:ARIAL" SIZE="2"></FONT></FONT></TD>\n\n<TD ALIGN="left" VALIGN="top"><FONT STYLE="font-family:ARIAL" SIZE="2">Written communications pursuant to Rule 425 under the Securities Act (17 CFR 230.425) </FONT></TD></TR></TABLE>\n<P STYLE="font-size:6px;margin-top:0px;margin-bottom:0px">&nbsp;</P>\n<TABLE STYLE="BORDER-COLLAPSE:COLLAPSE" BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">\n<TR>\n<TD WIDTH="4%" VALIGN="top" ALIGN="left"><FONT STYLE="font-family:ARIAL" SIZE="2"><FONT STYLE="font-family:Times New Roman" SIZE="2"><FONT STYLE="FONT-FAMILY:WINGDINGS">&#168;</FONT></FONT><FONT STYLE="font-family:ARIAL" SIZE="2"></FONT></FONT></TD>\n\n<TD ALIGN="left" VALIGN="top"><FONT STYLE="font-family:ARIAL" SIZE="2">Soliciting material pursuant to Rule 14a-12 under the Exchange Act (17 CFR 240.14a-12) </FONT></TD></TR></TABLE>\n<P STYLE="font-size:6px;margin-top:0px;margin-bottom:0px">&nbsp;</P>\n<TABLE STYLE="BORDER-COLLAPSE:COLLAPSE" BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">\n<TR>\n<TD WIDTH="4%" VALIGN="top" ALIGN="left"><FONT STYLE="font-family:ARIAL" SIZE="2"><FONT STYLE="font-family:Times New Roman" SIZE="2"><FONT STYLE="FONT-FAMILY:WINGDINGS">&#168;</FONT></FONT><FONT STYLE="font-family:ARIAL" SIZE="2"></FONT></FONT></TD>\n\n<TD ALIGN="left" VALIGN="top"><FONT STYLE="font-family:ARIAL" SIZE="2">Pre-commencement communications pursuant to Rule 14d-2(b) under the Exchange Act (17 CFR 240.14d-2(b)) </FONT></TD></TR></TABLE>\n<P STYLE="font-size:6px;margin-top:0px;margin-bottom:0px">&nbsp;</P>\n<TABLE STYLE="BORDER-COLLAPSE:COLLAPSE" BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">\n<TR>\n<TD WIDTH="4%" VALIGN="top" ALIGN="left"><FONT STYLE="font-family:ARIAL" SIZE="2"><FONT STYLE="font-family:Times New Roman" SIZE="2"><FONT STYLE="FONT-FAMILY:WINGDINGS">&#168;</FONT></FONT><FONT STYLE="font-family:ARIAL" SIZE="2"></FONT></FONT></TD>\n\n<TD ALIGN="left" VALIGN="top"><FONT STYLE="font-family:ARIAL" SIZE="2">Pre-commencement communications pursuant to Rule 13e-4(c) under the Exchange Act (17 CFR 240.13e-4(c)) </FONT></TD></TR></TABLE>\n<P STYLE="font-size:10px;margin-top:0px;margin-bottom:0px">&nbsp;</P> <P STYLE="line-height:0px;margin-top:0px;margin-bottom:0px;border-bottom:0.5pt solid #000000">&nbsp;</P>\n<P STYLE="line-height:3px;margin-top:0px;margin-bottom:2px;border-bottom:0.5pt solid #000000">&nbsp;</P>\n\n<p Style=\'page-break-before:always\'>\n<HR  SIZE="3" style="COLOR:#999999" WIDTH="100%" ALIGN="CENTER">\n\n\n<TABLE STYLE="BORDER-COLLAPSE:COLLAPSE" BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">\n<TR>\n<TD WIDTH="10%" VALIGN="top" ALIGN="left"><FONT STYLE="font-family:ARIAL" SIZE="2"><B>Item&nbsp;5.02.</B></FONT></TD>\n<TD ALIGN="left" VALIGN="top"><FONT STYLE="font-family:ARIAL" SIZE="2"><B>Departure of Directors or Certain Officers; Election of Directors; Appointment of Certain Officers; Compensatory Arrangements of Certain Officers.\n</B></FONT></TD></TR></TABLE> <P STYLE="margin-top:6px;margin-bottom:0px"><FONT STYLE="font-family:ARIAL" SIZE="2">On May&nbsp;8, 2013, the Company announced the appointment of Amy Hood, age 41, to serve as chief financial officer. As chief\nfinancial officer, Ms. Hood is responsible for leading Microsoft&#146;s worldwide finance organization, including acquisitions, corporate strategy, treasury activities, tax planning, accounting and reporting, and internal audit and investor\nrelations. </FONT></P> <P STYLE="margin-top:12px;margin-bottom:0px"><FONT STYLE="font-family:ARIAL" SIZE="2">Beginning in 2010, Ms. Hood was chief financial officer of the Microsoft Business Division. From 2006 through 2009, Ms.&nbsp;Hood was\nGeneral Manager, Microsoft Business Division Strategy. </FONT></P> <P STYLE="margin-top:12px;margin-bottom:0px"><FONT STYLE="font-family:ARIAL" SIZE="2">Since joining Microsoft in 2002, Ms. Hood has also held positions in the Server and Tools\nBusiness and the corporate finance organization. </FONT></P> <P STYLE="margin-top:18px;margin-bottom:0px" ALIGN="center"><FONT STYLE="font-family:ARIAL" SIZE="2"><B>SIGNATURE </B></FONT></P> <P STYLE="margin-top:12px;margin-bottom:0px"><FONT\nSTYLE="font-family:ARIAL" SIZE="2">Pursuant to the requirements of the Securities Exchange Act of 1934, the registrant has duly caused this report to be signed on its behalf by the undersigned hereunto duly authorized. </FONT></P>\n<P STYLE="font-size:12px;margin-top:0px;margin-bottom:0px">&nbsp;</P>\n<TABLE CELLSPACING="0" CELLPADDING="0" WIDTH="100%" BORDER="0" STYLE="BORDER-COLLAPSE:COLLAPSE">\n\n\n<TR>\n<TD WIDTH="50%"></TD>\n<TD VALIGN="bottom" WIDTH="1%"></TD>\n<TD WIDTH="49%"></TD></TR>\n\n\n<TR>\n<TD VALIGN="top"></TD>\n<TD VALIGN="bottom"><FONT SIZE="1">&nbsp;</FONT></TD>\n<TD VALIGN="bottom" ALIGN="center"> <P STYLE="margin-top:0px;margin-bottom:0px" ALIGN="center"><FONT STYLE="font-family:ARIAL" SIZE="2">MICROSOFT CORPORATION</FONT></P> <P STYLE="margin-top:0px;margin-bottom:1px" ALIGN="center"><FONT\nSTYLE="font-family:ARIAL" SIZE="2">(Registrant)</FONT></P></TD></TR>\n<TR>\n<TD HEIGHT="16"></TD>\n<TD HEIGHT="16" COLSPAN="2"></TD></TR>\n<TR>\n<TD VALIGN="top"> <P STYLE="margin-top:0px;margin-bottom:1px"><FONT STYLE="font-family:ARIAL" SIZE="2">Date: May 13, 2013</FONT></P></TD>\n<TD VALIGN="bottom"><FONT SIZE="1">&nbsp;</FONT></TD>\n<TD VALIGN="bottom"> <P STYLE="margin-top:0px;margin-bottom:1px;border-bottom:1px solid #000000" ALIGN="center"><FONT STYLE="font-family:ARIAL" SIZE="2">/s/ JOHN A. SEETHOFF</FONT></P></TD></TR>\n<TR>\n<TD VALIGN="top"></TD>\n<TD VALIGN="bottom"><FONT SIZE="1">&nbsp;</FONT></TD>\n<TD VALIGN="bottom" ALIGN="center"><FONT STYLE="font-family:ARIAL" SIZE="1"><B>John A. Seethoff</B></FONT></TD></TR>\n<TR>\n<TD VALIGN="top"></TD>\n<TD VALIGN="bottom"><FONT SIZE="1">&nbsp;</FONT></TD>\n<TD VALIGN="bottom" ALIGN="center"><FONT STYLE="font-family:ARIAL" SIZE="1"><B>Assistant Secretary</B></FONT></TD></TR>\n</TABLE>\n <p STYLE="margin-top:0px;margin-bottom:0px"><FONT SIZE="1">&nbsp;</FONT></P> <P STYLE="margin-top:0px;margin-bottom:0px" ALIGN="center"><FONT STYLE="font-family:ARIAL" SIZE="2">2 </FONT></P>\n\n</BODY></HTML>\n</TEXT>\n</DOCUMENT>\n</SEC-DOCUMENT>\n'

In [16]:
len(filings)

100

In [17]:
len(filings[0]), len(filings[1])

(13101, 460536)

# Create a data frame to fill in with data

In [18]:
# df1 = pd.DataFrame(index=range(0,10))
# df1

In [19]:
doc_ref_s = []
for text in filings:
    document_ref = re.search(r'<SEC-DOCUMENT>\s*([\w-]+)', text)
    document_ref = document_ref.group(1)
    doc_ref_s.append(document_ref)

In [20]:
#doc_ref_s

In [21]:
df1 = pd.DataFrame(data=doc_ref_s, columns=['document_ref'])
df1.shape

(100, 1)

In [22]:
company_name_s = []
for text in filings:
    company_name = re.search(r'COMPANY CONFORMED NAME:\s*([\w-]+)', text)
    company_name = company_name.group(1)
    company_name_s.append(company_name)
df1['company_name'] = company_name_s
df1.shape

(100, 2)

In [23]:
filing_date_s = []
for text in filings:
    filing_date = re.search(r'FILED AS OF DATE:\s*([\w-]+)', text)
    filing_date = filing_date.group(1)
    filing_date_s.append(filing_date)
np.asarray(filing_date_s).shape

(100,)

In [24]:
df1['filing_date'] = filing_date_s
df1.shape

(100, 3)

In [25]:
date_str_s = []
for dates in filing_date_s:
    date_str = dates # The date - 29 Dec 2017
    format_str = '%Y%m%d' # The df1format
    datetime_obj = datetime.datetime.strptime(date_str, format_str)
    date = datetime_obj.date()
    date_str_s.append(date)

In [26]:
#date_str_s

In [27]:
df1['date_str'] = date_str_s
df1.shape

(100, 4)

In [28]:
filing_date_s = []
for text in filings:
    filing_date = re.search(r'FILED AS OF DATE:\s*([\w-]+)', text)
    filing_date = filing_date.group(1)
    filing_date_s.append(filing_date)
#filing_date_s

In [29]:
filing_type_s = []
for text in filings:
    filing_type = re.search(r'CONFORMED SUBMISSION TYPE:\s*([\w-]+)', text)
    filing_type = filing_type.group(1)
    filing_type_s.append(filing_type)
df1['filing_type'] = filing_type
df1.shape

(100, 5)

In [30]:
k8s = df1.to_csv('./k8s_100MSFT.csv')

In [31]:
import pandas as pd
import regex as re
import datetime
import os 
from datetime import timedelta
from yahoo_fin.stock_info import *

In [32]:
df3 = pd.read_csv('./k8s_100MSFT.csv', index_col=0)
df3.head()

           document_ref company_name  filing_date    date_str filing_type
0  0001193125-13-216952    MICROSOFT     20130513  2013-05-13         8-K
1  0001193125-17-232047    MICROSOFT     20170720  2017-07-20         8-K
2  0001193125-15-247530    MICROSOFT     20150708  2015-07-08         8-K
3  0001193125-16-619689    MICROSOFT     20160613  2016-06-13         8-K
4  0001193125-12-292236    MICROSOFT     20120702  2012-07-02         8-K

In [33]:
path=os.getcwd()

for root, dirs, files in os.walk(path):
    #root 
    text_files = [file for file in files if '.txt' in file]
    break

In [34]:
filings = []
for file in text_files:
    with open(file,"r") as text_file:
        text = text_file.read()
        filings.append(text)

In [35]:
len(filings)

100

In [38]:
with open("../negative_words.txt","r") as negative_words:
    negative_words = negative_words.readlines()
    negative_words = [x.lower().replace('\n',"") for x in negative_words]

# i want them to repeat, if not I would use the set property: 
# negative_words = list(set(negative_words))
len(negative_words)

2322

In [39]:
list_of_lists=[]
for filing in filings:
    list_of_words=[]
    for word in (negative_words):
        if word in filing:
            list_of_words.append(word)
    list_of_lists.append(list_of_words)

In [40]:
len(list_of_lists)

100

In [41]:
len(list_of_lists[0]), len(list_of_lists[1]),len(list_of_lists[-1])

(4, 65, 52)

In [42]:
list_of_negstrings = []
for neglist in list_of_lists:
    negative_string = ""
    for negword in neglist:
        negative_string += str(negword) + " "
    negative_string = negative_string[:-1] # play with position of this one
    list_of_negstrings.append(negative_string)

In [43]:
len(list_of_negstrings)

100

In [44]:
df3['neg_text'] = list_of_negstrings

In [45]:
df3.head()

,document_ref,company_name,filing_date,date_str,filing_type,neg_text
0,0001193125-13-216952,MICROSOFT,20130513,2013-05-13,8-K,break cut lie miss
1,0001193125-17-232047,MICROSOFT,20170720,2017-07-20,8-K,adverse against break bridge catastrophic clai...
2,0001193125-15-247530,MICROSOFT,20150708,2015-07-08,8-K,break closure cut ill impair impairment late l...
3,0001193125-16-619689,MICROSOFT,20160613,2016-06-13,8-K,adverse adversely against break cancel cancell...
4,0001193125-12-292236,MICROSOFT,20120702,2012-07-02,8-K,break cut deter easing ill impair impairment l...

In [46]:
df3.shape

(100, 6)

In [47]:
df3.to_csv('./k8s_msft100.csv')

In [48]:
msft = pd.read_csv('./k8s_msft100.csv', index_col=0)
msft.head()

,document_ref,company_name,filing_date,date_str,filing_type,neg_text
0,0001193125-13-216952,MICROSOFT,20130513,2013-05-13,8-K,break cut lie miss
1,0001193125-17-232047,MICROSOFT,20170720,2017-07-20,8-K,adverse against break bridge catastrophic clai...
2,0001193125-15-247530,MICROSOFT,20150708,2015-07-08,8-K,break closure cut ill impair impairment late l...
3,0001193125-16-619689,MICROSOFT,20160613,2016-06-13,8-K,adverse adversely against break cancel cancell...
4,0001193125-12-292236,MICROSOFT,20120702,2012-07-02,8-K,break cut deter easing ill impair impairment l...

In [49]:
msft['ticker'] = msft['company_name'].map({'MICROSOFT': 'MSFT', 'Microsoft':'MSFT'})

In [50]:
msft.shape

(100, 7)

In [53]:
msft['date_str']= pd.to_datetime(msft['date_str'], format = '%Y-%m-%d')

In [54]:
msft['date_str_p1']=msft['date_str'].apply (lambda row: row+timedelta(days=1))

In [55]:
msft['date_str_p3']=msft['date_str'].apply (lambda row: row+timedelta(days=3))

In [56]:
msft['date_str_p7']=msft['date_str'].apply (lambda row: row+timedelta(days=7))

In [57]:
msft = msft.sort_values(by=['date_str'])

In [58]:
# no need for dot-drop when you spell-out the cols contained in the df
cols = ['ticker', 'date_str', 'neg_text', 'date_str_p1', 'date_str_p3', 'date_str_p7']
msft = msft[cols]

In [59]:
msft.tail()

,ticker,date_str,neg_text,date_str_p1,date_str_p3,date_str_p7
92,MSFT,2018-09-19,adverse adversely against alienation break cla...,2018-09-20,2018-09-22,2018-09-26
96,MSFT,2018-10-24,abuse adverse against break catastrophic claim...,2018-10-25,2018-10-27,2018-10-31
15,MSFT,2018-11-29,break cut fined ill lie lying miss,2018-11-30,2018-12-02,2018-12-06
9,MSFT,2019-01-30,abuse adverse against break catastrophic claim...,2019-01-31,2019-02-02,2019-02-06
95,MSFT,2019-04-24,abuse adverse against break catastrophic claim...,2019-04-25,2019-04-27,2019-05-01

In [60]:
# do NOT re-run, as it will create another index
msft.reset_index(inplace=True)
msft.drop(columns='index', axis=1, inplace=True)

In [61]:
msft.head()

,ticker,date_str,neg_text,date_str_p1,date_str_p3,date_str_p7
0,MSFT,2010-11-19,break cut ill inability lie miss reject rejected,2010-11-20,2010-11-22,2010-11-26
1,MSFT,2011-01-27,adverse adversely break catastrophic challenge...,2011-01-28,2011-01-30,2011-02-03
2,MSFT,2011-02-08,adverse against allege alleged arrears bankrup...,2011-02-09,2011-02-11,2011-02-15
3,MSFT,2011-04-28,adverse adversely break catastrophic challenge...,2011-04-29,2011-05-01,2011-05-05
4,MSFT,2011-05-10,adverse adversely barrier barriers break catas...,2011-05-11,2011-05-13,2011-05-17

In [62]:
msft.shape

(100, 6)

In [63]:
msft.rename(columns={'date_str': 'date', 'date_str_p1': 'date_1', 'date_str_p3':'date_3',
                    'date_str_p7': 'date_7'}, inplace=True)

In [64]:
msft.to_csv('./k8_msft_11.csv')

In [65]:
msft = get_data('MSFT', start_date = '2007/01/01', end_date = '2019/05/05', index_as_date = True)
msft.shape

(3105, 7)

In [66]:
msft.to_csv('./msft_yahoo_2009_today.csv')

In [67]:
ymsft = pd.read_csv('./msft_yahoo_2009_today.csv', index_col=0)
ymsft.head(1)

             open   high   low      close   adjclose      volume ticker
date
2007-01-03  29.91  30.25  29.4  29.860001  22.478832  76935100.0   MSFT

In [68]:
cols = ['ticker', 'adjclose']
ymsft = ymsft[cols]
ymsft.shape

(3105, 2)

In [69]:
ymsft.to_csv('./ymsft_2009_today.csv')

In [70]:
msft = pd.read_csv('./k8_msft_11.csv', index_col=0)
msft['date'] = pd.to_datetime(msft['date'])
msft['date_0'] = msft['date']
cols = ['ticker', 'date', 'neg_text', 'date_0', 'date_1', 'date_3', 'date_7']
msft = msft[cols]
msft.head()

,ticker,date,neg_text,date_0,date_1,date_3,date_7
0,MSFT,2010-11-19,break cut ill inability lie miss reject rejected,2010-11-19,2010-11-20,2010-11-22,2010-11-26
1,MSFT,2011-01-27,adverse adversely break catastrophic challenge...,2011-01-27,2011-01-28,2011-01-30,2011-02-03
2,MSFT,2011-02-08,adverse against allege alleged arrears bankrup...,2011-02-08,2011-02-09,2011-02-11,2011-02-15
3,MSFT,2011-04-28,adverse adversely break catastrophic challenge...,2011-04-28,2011-04-29,2011-05-01,2011-05-05
4,MSFT,2011-05-10,adverse adversely barrier barriers break catas...,2011-05-10,2011-05-11,2011-05-13,2011-05-17

In [71]:
ymsft = pd.read_csv('./ymsft_2009_today.csv', index_col=0)
ymsft.index = pd.to_datetime(ymsft.index)
ymsft.head()

           ticker   adjclose
date
2007-01-03   MSFT  22.478832
2007-01-04   MSFT  22.441185
2007-01-05   MSFT  22.313211
2007-01-08   MSFT  22.531523
2007-01-09   MSFT  22.554110

In [72]:
ymsft.isnull().sum()

ticker      0
adjclose    0
dtype: int64

In [73]:
msft.isnull().sum()

ticker      0
date        0
neg_text    0
date_0      0
date_1      0
date_3      0
date_7      0
dtype: int64

In [74]:
skips = [-1, 0,1,3,7]
for skip in skips:
    col = 'date_{}'.format(skip)
    msft[col] = msft['date'] + skip * pd.offsets.BDay()
    msft[col] = ymsft.loc[msft[col], 'adjclose'].values

/anaconda3/envs/myenv/lib/python3.7/site-packages/pandas/core/indexing.py:1017: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return getattr(section, self.name)[new_key]

In [75]:
msft.head()

,ticker,date,neg_text,date_0,date_1,date_3,date_7,date_-1
0,MSFT,2010-11-19,break cut ill inability lie miss reject rejected,20.857855,20.890327,20.598043,20.508736,20.979637
1,MSFT,2011-01-27,adverse adversely break catastrophic challenge...,23.439713,22.530378,22.725239,22.895735,23.366644
2,MSFT,2011-02-08,adverse against allege alleged arrears bankrup...,22.960686,22.709000,22.124426,22.222528,22.895735
3,MSFT,2011-04-28,adverse adversely break catastrophic challenge...,21.814171,21.168980,21.079144,21.095480,21.544661
4,MSFT,2011-05-10,adverse adversely barrier barriers break catas...,20.964804,20.711630,20.442110,20.321262,21.095480

In [76]:
msft.rename(columns={'date_-1':'price_prior', 'date_0':'price_0', 'date_1':'price_1', 'date_3':'price_3',
                     'date_7':'price_7'}, inplace=True)
msft.head()

,ticker,date,neg_text,price_0,price_1,price_3,price_7,price_prior
0,MSFT,2010-11-19,break cut ill inability lie miss reject rejected,20.857855,20.890327,20.598043,20.508736,20.979637
1,MSFT,2011-01-27,adverse adversely break catastrophic challenge...,23.439713,22.530378,22.725239,22.895735,23.366644
2,MSFT,2011-02-08,adverse against allege alleged arrears bankrup...,22.960686,22.709000,22.124426,22.222528,22.895735
3,MSFT,2011-04-28,adverse adversely break catastrophic challenge...,21.814171,21.168980,21.079144,21.095480,21.544661
4,MSFT,2011-05-10,adverse adversely barrier barriers break catas...,20.964804,20.711630,20.442110,20.321262,21.095480

In [77]:
cols = ['ticker', 'date', 'neg_text', 'price_prior', 'price_0', 'price_1', 'price_3', 'price_7']
msft = msft[cols]
msft.head(10)

,ticker,date,neg_text,price_prior,price_0,price_1,price_3,price_7
0,MSFT,2010-11-19,break cut ill inability lie miss reject rejected,20.979637,20.857855,20.890327,20.598043,20.508736
1,MSFT,2011-01-27,adverse adversely break catastrophic challenge...,23.366644,23.439713,22.530378,22.725239,22.895735
2,MSFT,2011-02-08,adverse against allege alleged arrears bankrup...,22.895735,22.960686,22.709000,22.124426,22.222528
3,MSFT,2011-04-28,adverse adversely break catastrophic challenge...,21.544661,21.814171,21.168980,21.079144,21.095480
4,MSFT,2011-05-10,adverse adversely barrier barriers break catas...,21.095480,20.964804,20.711630,20.442110,20.321262
5,MSFT,2011-07-21,adverse adversely break catastrophic challenge...,22.244881,22.277758,22.631245,23.083380,22.417513
6,MSFT,2011-10-20,adverse adversely break catastrophic challenge...,22.443190,22.368736,22.468004,22.178469,22.029568
7,MSFT,2011-11-17,break cut ill inability lie miss reject rejected,21.728706,21.286966,21.086926,20.661858,20.728533
8,MSFT,2011-12-22,break cut deter disclose ill late lie lose miss,21.470329,21.512001,21.695370,21.703695,NaN
9,MSFT,2012-01-19,adverse adversely break catastrophic challenge...,23.529015,23.437330,24.762552,24.454165,24.679209

In [78]:
msft[msft.isnull().any(axis=1)]

,ticker,date,neg_text,price_prior,price_0,price_1,price_3,price_7
8,MSFT,2011-12-22,break cut deter disclose ill late lie lose miss,21.470329,21.512001,21.695370,21.703695,NaN
10,MSFT,2012-02-21,against arrears break cut defend force harm il...,NaN,26.376982,26.234358,26.410532,27.090097
18,MSFT,2012-10-18,adverse adversely break catastrophic claims cl...,25.153328,25.076818,24.345768,23.844236,NaN
29,MSFT,2013-07-03,against break claims closure cut deter dispara...,29.534666,29.595579,NaN,29.874043,31.040113
33,MSFT,2013-08-30,against breach breaches break cease ceases clo...,29.401014,29.269562,NaN,27.341629,28.384464
34,MSFT,2013-09-03,adverse against break closed closing critical ...,NaN,27.937536,27.341629,27.297810,28.647364
71,MSFT,2016-05-25,break closure cut ill impair impairment late l...,48.758228,49.259132,49.041752,NaN,48.947247
73,MSFT,2016-07-05,absence against breach breaches break closed c...,NaN,48.361279,48.559753,49.429249,50.790203

In [93]:
msft.at[8,'price_7']=ymsft.loc['2011-12-29'].at['adjclose']
msft.at[10,'price_prior']=ymsft.loc['2012-02-17'].at['adjclose']
msft.at[18,'price_7']=ymsft.loc['2012-10-25'].at['adjclose']
msft.at[29,'price_1']=ymsft.loc['2013-07-05'].at['adjclose']
msft.at[33,'price_1']=ymsft.loc['2013-09-03'].at['adjclose']
msft.at[34,'price_prior']=ymsft.loc['2013-08-30'].at['adjclose']
msft.at[71,'price_3']=ymsft.loc['2016-05-31'].at['adjclose']
msft.at[73,'price_prior']=ymsft.loc['2016-07-01'].at['adjclose']

In [94]:
msft.isnull().sum(), msft.shape

(ticker         0
 date           0
 neg_text       0
 price_prior    0
 price_0        0
 price_1        0
 price_3        0
 price_7        0
 dtype: int64, (100, 8))

In [95]:
msft.to_csv('./k8_msft_14_3.csv')

In [96]:
msft=pd.read_csv('./k8_msft_14_3.csv', index_col=0)

In [97]:
msft['true_price'] = msft['price_prior'].shift(-1)
msft.tail()

,ticker,date,neg_text,price_prior,price_0,price_1,price_3,price_7,true_price
95,MSFT,2018-09-19,adverse adversely against alienation break cla...,112.243668,110.746552,112.600594,113.691208,113.393768,107.177284
96,MSFT,2018-10-24,abuse adverse against break catastrophic claim...,107.177284,101.446625,107.375580,102.963562,105.253845,110.647461
97,MSFT,2018-11-29,break cut fined ill lie lying miss,110.647461,109.721413,110.418434,108.058510,107.132462,102.502243
98,MSFT,2019-01-30,abuse adverse against break catastrophic claim...,102.502243,105.927612,103.985909,105.290337,105.220634,125.440002
99,MSFT,2019-04-24,abuse adverse against break catastrophic claim...,125.440002,125.010002,129.149994,129.770004,128.899994,NaN

In [ ]:
# msft['1b'] = round(((msft['price_1'] / msft['price_0'])-1)*100,2)
# msft['3b'] = round(((msft['price_3'] / msft['price_0'])-1)*100,2)

In [98]:
skips = [0,1,3,7]
for skip in skips:
    col = 'price_{}'.format(skip)
    msft[col] = round(((msft[col] / msft['true_price'])-1)*100,2)

In [99]:
msft.head()

,ticker,date,neg_text,price_prior,price_0,price_1,price_3,price_7,true_price
0,MSFT,2010-11-19,break cut ill inability lie miss reject rejected,20.979637,-10.74,-10.60,-11.85,-12.23,23.366644
1,MSFT,2011-01-27,adverse adversely break catastrophic challenge...,23.366644,2.38,-1.60,-0.74,0.00,22.895735
2,MSFT,2011-02-08,adverse against allege alleged arrears bankrup...,22.895735,6.57,5.40,2.69,3.15,21.544661
3,MSFT,2011-04-28,adverse adversely break catastrophic challenge...,21.544661,3.41,0.35,-0.08,0.00,21.095480
4,MSFT,2011-05-10,adverse adversely barrier barriers break catas...,21.095480,-5.75,-6.89,-8.10,-8.65,22.244881

In [102]:
msft.isnull().sum()

ticker         0
date           0
neg_text       0
price_prior    0
price_0        1
price_1        1
price_3        1
price_7        1
true_price     1
dtype: int64

In [103]:
msft.to_csv('./k8_goog_15_3.csv')

In [104]:
msft=pd.read_csv('./k8_goog_15_3.csv', index_col=0)

In [105]:
msft['target_date'] = msft['date'].shift(-1)
msft.head()

,ticker,date,neg_text,price_prior,price_0,price_1,price_3,price_7,true_price,target_date
0,MSFT,2010-11-19,break cut ill inability lie miss reject rejected,20.979637,-10.74,-10.60,-11.85,-12.23,23.366644,2011-01-27
1,MSFT,2011-01-27,adverse adversely break catastrophic challenge...,23.366644,2.38,-1.60,-0.74,0.00,22.895735,2011-02-08
2,MSFT,2011-02-08,adverse against allege alleged arrears bankrup...,22.895735,6.57,5.40,2.69,3.15,21.544661,2011-04-28
3,MSFT,2011-04-28,adverse adversely break catastrophic challenge...,21.544661,3.41,0.35,-0.08,0.00,21.095480,2011-05-10
4,MSFT,2011-05-10,adverse adversely barrier barriers break catas...,21.095480,-5.75,-6.89,-8.10,-8.65,22.244881,2011-07-21

In [106]:
msft['target_date'] = pd.to_datetime(msft['target_date'], format = '%Y-%m-%d')
msft['date'] = pd.to_datetime(msft['date'], format = '%Y-%m-%d')
msft['period'] = msft['target_date'] - msft['date']
msft.head()

,ticker,date,neg_text,price_prior,price_0,price_1,price_3,price_7,true_price,target_date,period
0,MSFT,2010-11-19,break cut ill inability lie miss reject rejected,20.979637,-10.74,-10.60,-11.85,-12.23,23.366644,2011-01-27,69 days
1,MSFT,2011-01-27,adverse adversely break catastrophic challenge...,23.366644,2.38,-1.60,-0.74,0.00,22.895735,2011-02-08,12 days
2,MSFT,2011-02-08,adverse against allege alleged arrears bankrup...,22.895735,6.57,5.40,2.69,3.15,21.544661,2011-04-28,79 days
3,MSFT,2011-04-28,adverse adversely break catastrophic challenge...,21.544661,3.41,0.35,-0.08,0.00,21.095480,2011-05-10,12 days
4,MSFT,2011-05-10,adverse adversely barrier barriers break catas...,21.095480,-5.75,-6.89,-8.10,-8.65,22.244881,2011-07-21,72 days

In [107]:
msft['period'] = msft['period'].dt.days # convert to integer

In [108]:
msft[msft.isnull().any(axis=1)]

,ticker,date,neg_text,price_prior,price_0,price_1,price_3,price_7,true_price,target_date,period
99,MSFT,2019-04-24,abuse adverse against break catastrophic claim...,125.440002,NaN,NaN,NaN,NaN,NaN,NaT,NaN

In [109]:
msft.dropna(axis=0, inplace=True)
msft.isnull().sum().sum(), msft.shape

(0, (99, 11))

In [110]:
msft.reset_index(drop=True, inplace = True)

In [111]:
skips = [0,1,3,7]
for skip in skips:
    col = 'price_{}'.format(skip)
    msft[col] = (msft[col] < 0).astype(int)

In [112]:
msft.drop(columns=['date', 'price_prior', 'true_price', 'target_date'], inplace=True)

In [113]:
msft.to_csv('./k8_msft_16_3.csv')